#root {
  width: 90%;
  margin: auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color:#3a5a40;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 0;
    
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

ul.header li a {
  color: #DAD7CD;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  background-color: #5881571a;
  color: #DAD7CD;
  padding: 5px;
  padding-bottom: 200px;
  border-radius: 10px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 2px;
}